/backend/.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python version / lock files
/backend/.python-version
/backend/uv.lock

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/