# Django settings
SECRET_KEY=YOUR_SECRET_KEY
DEBUG=DEBUG_VALUE

# Database configuration for PostgreSQL
DB_ENGINE=BD_ENGINE
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT

POSTGRES_DB=DB_NAME
POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PASSWORD
