# Django settings
SECRET_KEY=YOUR_SECRET_KEY
DEBUG=DEBUG_VALUE
CORS_ALLOWED_ORIGINS=VALUE
ALLOWED_HOSTS=VALUE

# Database configuration for PostgreSQL
DB_ENGINE=BD_ENGINE
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT

POSTGRES_DB=DB_NAME
POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PASSWORD

# FourtyGuard API configuration
FORTYGUARD_API_KEY=FOURTYGUARD_API_KEY
FORTYGUARD_BASE_URL=https://api.fortyguard.com/v1
FORTYGUARD_TIMEOUT=10

# Geoapify API configuration
GEOAPIFY_API_KEY=GEOAPIFY_API_KEY

# TomTom API configuration
TOMTOM_API_KEY=TOMTOM_API_KEY
